<div class= "container m-3">
  <form action="/answer" data-turbo="false" method="get">
    <label for="ask" class="form-label">Ask your coach anything:</label>
    <input type="text" name="question" placeholder="Ask a question" class="form-control">
    <br>
    <input type="submit" class="btn btn-danger" value="Ask!">
  </form>
</div>
